body {
    overflow-y: auto;
}
.swal2-container {
    position: fixed !important;
    z-index: 9999 !important;
}
.cursiva-font {
 font-style: italic; /* texto en cursiva */
}


#plus-sign {
    font-size: 2.5rem; 
    animation: rgbWave 2s ease-in-out infinite;
}

@keyframes rgbWave {
    0% {
        text-shadow: 0 0 5px red, 0 0 10px orange, 0 0 15px yellow, 0 0 20px green, 0 0 25px cyan, 0 0 30px blue, 0 0 35px purple;
    }
    25% {
        text-shadow: 0 0 5px orange, 0 0 10px yellow, 0 0 15px green, 0 0 20px cyan, 0 0 25px blue, 0 0 30px purple, 0 0 35px red;
    }
    50% {
        text-shadow: 0 0 5px yellow, 0 0 10px green, 0 0 15px cyan, 0 0 20px blue, 0 0 25px purple, 0 0 30px red, 0 0 35px orange;
    }
    75% {
        text-shadow: 0 0 5px green, 0 0 10px cyan, 0 0 15px blue, 0 0 20px purple, 0 0 25px red, 0 0 30px orange, 0 0 35px yellow;
    }
    100% {
        text-shadow: 0 0 5px cyan, 0 0 10px blue, 0 0 15px purple, 0 0 20px red, 0 0 25px orange, 0 0 30px yellow, 0 0 35px green;
    }
}
